/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General style */

body {
    width: 100vw;
    min-height: 100vh;
    color: #333;
    background: #f0f0f0;
    line-height: 1.5;
    font-size: 1.07rem;
    overflow-x: hidden;
}


/* Testimonials Grid */

.testimonials-container {
    width: 100%;
    max-width: 1250px;
    padding: 20px;
    margin: 30px auto;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    grid-auto-rows: minmax(150px, auto);
}


/* Testimonial Boxes */

.testimonial {
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* Colors & Custom Grid Spans */

.testimonial-1 {
    background: #3c40c6;
    grid-column: span 2;
}

.testimonial-2 {
    background: #0fbcf9;
}

.testimonial-3 {
    background: #fff;
    color: #2c2c54;
    grid-row: span 3;
}

.testimonial-4 {
    background: #05c46b;
    color: #fff;
}

.testimonial-5 {
    background: #00d8d6;
    color: white;
    grid-column: span 2;
}


/* Profile Section */

.profile {
    display: flex;
    gap: 20px;
}

.profile img {
    border-radius: 50%;
    object-fit: cover;
}


/* Text Styling */

.testimonial-1 h2,
.testimonial-3 h2,
.testimonial-4 h2 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.testimonial-1 p {
    font-size: 1rem;
    margin-top: 5px;
    color: #ccc;
}