*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #ccc;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.wrapper {
    display: grid;
    place-content: center;
    height: 100vh;
}

.container {
    display: grid;
    background: #fff;
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.product-img img {
    width: 200px;
    object-fit: cover;
}

.product-info {
    width: 200px;
    padding: 4px;
}

.product-info .product-name {
    letter-spacing: 5px;
    color: #ccc;
}

.product-info .product-title {
    text-transform: capitalize;
    font-weight: bold;
}

.product-info .product-desc {
    color: #999;
    font-size: 18px;
}

.product-info .product-price {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* color: cadetblue; */
}

.product-info .product-price .product-price-new {
    color: green;
    font-weight: bold;
}

.product-info .product-price .product-price-old {
    text-decoration: line-through;
}

.product-info .product-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.product-info .product-btn .product-btn-add {
    padding: 5px 10px;
    border: none;
    width: 100%;
    color: white;
    background: green;
}